



.ngActivityActionDiv {font-size: 0.9em; padding-top:20px;padding-bottom:20px}
.ngSummary {font-size: 1.17em; line-height:120%}
.ngAuthorLink {font-size: 0.9em}
.ngInput {font-size: 1.17em}
.ngInputTo {font-size: 0.9em; margin-bottom:15px; padding-top:10px}
.ngPreviewButton{height:32px}

